{% extends 'page0_base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'page8_profile.css' %}"
<div class="container mt-5 d-flex justify-content-center">
            <div class="card p-3">
                <div class="d-flex align-items-center">
                    <div > <img class="image" src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" class="rounded" width="155"> </div>
                    <div class="ml-3 w-100">
                        <h4 class="mb-0 mt-0" style="color: #000;">Alex Morrision</h4> <span style="color: #000;">Senior Journalist</span>
                        <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                            <div class="d-flex flex-column" onclick="return show('foll','fow','posts');"> <span class="articles">Following</span> <span class="number1">38</span> </div>
                            <div class="d-flex flex-column" onclick="return show('fow','foll','posts');"> <span class="followers">Followers</span> <span class="number2">980</span> </div>
                            <div class="d-flex flex-column" onclick="return show('posts','fow','foll');"> <span class="rating">POSTS</span> <span class="number3">2</span> </div>
                        </div>
                        <div class="button mt-2 d-flex flex-row align-items-center"> <button class="btn btn-sm btn-primary w-100 ml-2">Follow</button> </div>
                    </div>
                </div>
            </div>
        </div>
      

    <div id="posts" style="display: block;">
    <h1 class="post-heading">POSTS</h1>
    <div class="post-post">
    <div class="post-details">
        <div class="post-details-name">Dr.Corona Varanasi</div>
        <div class="post-details-others" id="post-details-designation">HoD</div>
        <div class="post-details-others" id="post-details-department">CSE</div>
         <div class="post-details-others" id="post-details-date">09:18 PM, 13/01/2021</div>
        <div class="post-upvotes-icon"><i class="fas fa-level-up-alt"></i></div>
        <div class="post-upvotes-count">20</div>
        <img class="post-details-image" src="C:\Users\srivatsava\Downloads\nice.jpeg">
    </div>
    <div class="post-content">
        <img class="post-content-image" src="C:\Users\srivatsava\Downloads\car2.jfif">
    </div> 
    </div>

    <br>
    <br>
    <div class="post-post">
    <div class="post-details">
        <div class="post-details-name">Dr.Corona Varanasi</div>
        <div class="post-details-others" id="post-details-designation">HoD</div>
        <div class="post-details-others" id="post-details-department">CSE</div>
         <div class="post-details-others" id="post-details-date">09:18 PM, 13/01/2021</div>
        <div class="post-upvotes-icon"><i class="fas fa-level-up-alt"></i></div>
        <div class="post-upvotes-count">20</div>
        <img class="post-details-image" src="C:\Users\Pranav\Pictures\sandeepmeme3.png">
    </div>
    <div class="post-content">
        <img class="post-content-image" src="C:\Users\Pranav\Pictures\WhatsApp Image 2020-03-02 at 8.05.24 PM.jpeg">
    </div> 
    </div>

    <br>
    </div>
    <div id="foll" style="display: none;">
        <h1 class="post-heading">FOLLOWERS</h1>
        <!-- {% comment %} <h4>nice following</h4> {% endcomment %} -->
        <div class="container mt-5 d-flex justify-content-center outer">
            <div class="card1 p-3">
                <div class="d-flex align-items-center">
                    <div > <img class="image" src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" class="rounded" width="155"> </div>
                    <div class="ml-1 w-100">
                        <h4 class="mb-0 mt-0" style="color: #000;">Alex Morrision</h4> <span style="color: #000;">Senior Journalist</span>
                        <!-- {% comment %} <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                            <div class="d-flex flex-column" onclick="return show('foll','fow','posts');"> <span class="articles">Following</span> <span class="number1">38</span> </div>
                            <div class="d-flex flex-column" onclick="return show('fow','foll','posts');"> <span class="followers">Followers</span> <span class="number2">980</span> </div>
                            <div class="d-flex flex-column" onclick="return show('posts','fow','foll');"> <span class="rating">POSTS</span> <span class="number3">2</span> </div>
                        </div> {% endcomment %} -->
                        <div class="button mt-2 d-flex flex-row align-items-center"> <button class="btn btn-sm btn-primary w-100 ml-2">Follow</button><button class="btn btn-sm btn-primary w-100 ml-2">Seeprofile</button> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5 d-flex justify-content-center">
            <div class="card1 p-3">
                <div class="d-flex align-items-center">
                    <div > <img class="image" src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" class="rounded" width="155"> </div>
                    <div class="ml-3 w-100">
                        <h4 class="mb-0 mt-0" style="color: #000;">Alex Morrision</h4> <span style="color: #000;">Senior Journalist</span>
                        <!-- {% comment %} <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                            <div class="d-flex flex-column" onclick="return show('foll','fow','posts');"> <span class="articles">Following</span> <span class="number1">38</span> </div>
                            <div class="d-flex flex-column" onclick="return show('fow','foll','posts');"> <span class="followers">Followers</span> <span class="number2">980</span> </div>
                            <div class="d-flex flex-column" onclick="return show('posts','fow','foll');"> <span class="rating">POSTS</span> <span class="number3">2</span> </div>
                        </div> {% endcomment %} -->
                        <div class="button mt-2 d-flex flex-row align-items-center"> <button class="btn btn-sm btn-primary w-100 ml-2">Follow</button><button class="btn btn-sm btn-primary w-100 ml-2">Seeprofile</button> </div>
                    </div>
                </div>
            </div>
        </div>
        <h4>nice following</h4>
        <h4>nice following</h4>
        <h4>nice following</h4>

	</div>
	
    <div id="fow" style="display: none;">
        <h4>nice follower</h4>
        <h4>nice followers</h4>
        <h4>nice followers</h4>
        <h4>nice followers</h4>

	</div>
	
	 <script>
        function show(shown, hidden1,hidden2) {
            document.getElementById(shown).style.display='block';
            document.getElementById(hidden1).style.display='none';
            document.getElementById(hidden2).style.display='none';
            return false;
          }
	</script>
	
{% endblock content %}