{% load static %}
<link rel="stylesheet" href="{% static 'page4_login.css'%}">



</head>

<body>

  

    <video id="videoBG" autoplay muted loop>
    <source src="{% static 'home_video.mp4'%}" type="video/mp4">
    </video>
    <div class="container">
        <div id="main">

            <div class="box">
                <h2>Login</h2>
                <form action="/page4_login/" method="post" >
                    {% csrf_token %}

                  

                    <div class="inputBox">
                        <input type="text" name="uname" required="true">
                        <label>User ID</label>
                    </div>

                    <div class="inputBox">
                        <input type="password" name="pwd" required="true">
                        <label>Password</label>
                    </div>

                 

                   
                     {%if error%}

                        <h4 style="color:white;">{{error}}</h4>
                    {%endif%}
                    

                   
                    <input  type="submit" class="btn register-button" value="Submit">

                    <br><br>
                    <div style="color:white;margin-top:10px;"> New User? 
                         <button class="btn btn-sm btn-primary w-100 ml-2" 
                         style="background-color: #2EA466;
                         font-family:Whitney;
                         font-size:12px;
                         color:white;
                         border-radius:5px;
                         padding:10px;
                         border:none;
                         margin-left:12px;"
                         onclick = 'location.href ="/page3_register/"' onmouseover="this.style.backgroundcolor='#64FF13'">Sign Up</button>
                    </div>
                 </form>

            </div>
           
        </div>
    </div>
    


</body>

</html>
