


{% extends 'page0_base.html' %} {%load static%} {%block content%} 

<style>
 
  #post-details-department {
    margin-top: 7px;
    margin-left: 47px;
    font-size: 10px;
    background-color: #123C69;
    width: 40px;
    border: 0.5px solid white;
    text-align: center;
    font-weight: bold;
}

#post-details-designation {
    margin-top: 7px;
    font-size: 10px;
    background-color: #F13C20;
    border: 0.5px solid white;
    width: 40px;
    text-align: center;
    font-weight: bold;
}
  
  .ncardice {
    margin: 80px !important;
    margin-left:120px!important;
    color: white;
}

.card {
    background: #333333 !important;
    border-radius: 5px !important;
}

.card:hover {
    box-shadow: 10px 10px 20px 10px #121213 !important;
}

.cropper {
    height: 300px;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.detailcard {
    position: relative;
    left: 20px;
    top: 30px;
    right: 80px;
    width: 90%;
    background: #100e17 !important;
    border-radius: 5px !important;
}

.detailsub {
    margin-bottom: 20px;
}
</style>


<br>
<br>
<br>

<div class="container ncardice">
    <legend class="border-bottom mb-4 nicetwo" style="color:white;">
        <h1 class="display-6">Hello {{f}}, your follow requests are: </h1>
       
    </legend>
</div>

<div class="row equal ncardice">
{%for i in l3%}
    <div class="col-sm-4 mb-2 d-flex align-items-stretch">
        <div class="card">
            <img class="card-img-top" src="/media/{{i.display_picture}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{i.username}}</h5>
                <p class="card-text">{{i.designation}}, {{i.department}}</p>
               
            </div>
            <div class="card-footer newshyper">
                <small>
                  <div class="container-fluid">
                  <button class="navbar-button tooltip-class" onclick='location.href="/ac/{{i.userid}}/"'>
                <i title="Accept" class="fas fa-user-check homeicon"></i>
                </button>  
                   <button class="navbar-button tooltip-class" onclick='location.href="/rc/{{i.userid}}/"'>
                <i title="Reject" class="fas fa-user-times homeicon"></i>
                </button>   
                <button class="navbar-button tooltip-class" onclick='location.href="/page8_profile/{{i.userid}}/"'>
                <i title="Profile" class="fas fa-address-card homeicon"></i>
                </button>  
                </div>
                </small>
                
            </div>
        </div>
    </div>
{%endfor%}
</div>


{%endblock content%}