body
{
    background-color: #161616;
    font-family:'Whitney Medium';
}



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

.box {
    position: absolute;
    top: 685px;
    left: 83%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 40px;
    background-color: #121212;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

.box h2 {
    margin: 0 0 30px;
    padding: 0;
    font-size: 30px;
    color: #fff;
    text-align: center;
   
}

.box .inputBox {
    position: relative;
}

.box .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.box .inputBox input:focus~label,
.box .inputBox input:valid~label,
#account-label,
#designation-label,
#department-label {
    top: -20px;
    left: 0;
    color: #2ea466;
    font-size: 12px;

}

.box input[type="submit"] {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background-color:#2ea466;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Whitney Medium';
}

.box pre a {
    color: #03a9f4;
}

.box pre {
    color: #64FF13;
}

#videoBG
{
   background-color: transparent;
   background-color: #161616;
   opacity: 0.1;
   width:100%;
   position:fixed;

}

@media screen and (min-width:299px) and (max-width:450px)
{
   
    .body
    {
        background-color: red!important;
    }

     #videoBG{
         background-color: red !important;
         width:375px;
         margin-left:-5px;
         margin-top:-7px;
     }

     .box
     {
         left:190px;
     }
}