{% extends 'page0_base.html' %}
{%load static%}

    {%block content%}
    <h1 class="post-heading">News Feed</h1>
    <div class="post-post">
    <div class="post-details">
        <div class="post-details-name">Dr.Corona Varanasi</div>
        <div class="post-details-others" id="post-details-designation">HoD</div>
        <div class="post-details-others" id="post-details-department">CSE</div>
         <div class="post-details-others" id="post-details-date">09:18 PM, 13/01/2021</div>
        <div class="post-upvotes-icon"><i class="fas fa-level-up-alt"></i></div>
        <div class="post-upvotes-count">20</div>
        <img class="post-details-image" src="C:\Users\Pranav\Pictures\nice wallpaper.jpg">
    </div>
    <div class="post-content">
        <img class="post-content-image" src="C:\Users\Pranav\Pictures\WhatsApp Image 2020-03-02 at 8.05.24 PM.jpeg">
    </div> 
    </div>

    <br>
    <br>
    <div class="post-post">
    <div class="post-details">
        <div class="post-details-name">Dr.Corona Varanasi</div>
        <div class="post-details-others" id="post-details-designation">HoD</div>
        <div class="post-details-others" id="post-details-department">CSE</div>
         <div class="post-details-others" id="post-details-date">09:18 PM, 13/01/2021</div>
        <div class="post-upvotes-icon"><i class="fas fa-level-up-alt"></i></div>
        <div class="post-upvotes-count">20</div>
        <img class="post-details-image" src="C:\Users\Pranav\Pictures\sandeepmeme3.png">
    </div>
    <div class="post-content">
        <img class="post-content-image" src="C:\Users\Pranav\Pictures\WhatsApp Image 2020-03-02 at 8.05.24 PM.jpeg">
    </div> 
    </div>

    <br>

    {%endblock content%}

   