.infocard
{
    background-color:red!important;
}
 
 
 .card {

     border: none;
     border-radius: 10px;
     margin-top: 50px;
 }

 .card1 {
     width: 500px;
     /*height: 100px;*/
     border: none;
     border-radius: 10px;
     background-color: #fff;
     margin-top: 30px;
     float: right;
 }

 /* .outer {
     /*height: 200px;*/
 /* }  */


 .stats {
     background: #333333 !important;

 }

 .articles {
     font-size: 10px;
     color: #a1aab9;

 }

 .number1 {
     font-weight: 500
 }

 .followers {
     font-size: 10px;
     color: #a1aab9
 }

 .number2 {
     font-weight: 500
 }

 .rating {
     font-size: 10px;
     color: #a1aab9
 }

 .number3 {
     font-weight: 500
 }

 .image {
     border-radius: 50% !important;
 }