{% extends 'page0_base.html' %}
{%load static%}


{%block content%}

 <style>



.search-container
{
    margin-top:100px;
    margin-left:100px;
    margin-right:100px;
    width:470px;
}




.search-designation, .search-department, .search-button
{
    margin-left:200px;
    position:absolute;
    margin-top:3px;
    top:100px;
    width:150px;
    height:50px;
}



.search-department
{
    left:390px;   
}

.search-designation
{
    left:560px;
}

.search-button
{
    left:730px;
    height:40px;
    top:110px;
    width:90px;
    color:white;
    
    background-color: #2EA466;
}

.search-button:hover
{
    background-color:#A9A9A9;
}

.suggestions-button
{
    background-color: inherit;
    border:none;
    height:35px;
    margin-top:-20px;
    margin-left:6  0px;
}
.card {
    width: 800px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 50px;
}

.card1 {
    width: 500px;
    /*height: 100px;*/
    border: none;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 30px;
    float: right;
}



.stats {
    background: #f2f5f8 !important;
    color: #000 !important
}

.articles {
    font-size: 10px;
    color: #a1aab9;

}

.number1 {
    font-weight: 500
}

.followers {
    font-size: 10px;
    color: #a1aab9
}

.number2 {
    font-weight: 500
}

.rating {
    font-size: 10px;
    color: #a1aab9
}

.number3 {
    font-weight: 500
}

.image {
    border-radius: 50% !important;
}

.dp {
    margin-top: 0px !important;

}

.nicecard
{
    margin-top:10px!important;
    margin-bottom:10px!important;
}

@media screen and (max-width:299px) {
    body {
        background-color: white !important;
    }

    .search-container {
        margin-left: 70px;
        margin-right: 10px;
        margin-top: 400px;
        margin-bottom:20px;
    }

    
}

@media screen and (min-width: 350px) and (max-width:400px) {
   body {
       background-color: royalblue !important;
   }
   
    .search-container
    {
        width:230px!important;
    }
    
    .search-designation
    {
      
    margin-left:100px;
    top:220px;
    left:0px;
    width: 230px;
    }

    .search-department
    {
     
    margin-left:100px;
    top:160px;
    left:0px;
    width:230px;
    }
    .search-button
    {
        
   margin-left:0px;
    top:280px;
    left:170px;
    margin-bottom:100px;
    }

    .post-heading
    {
        margin-top:200px!important;
    }

    .card {
    width: 400px!important;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 50px;
}

.card1 {
    width: 500px!important;
    /*height: 100px;*/
    border: none;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 30px;
    float: right;
}

.nicecard
{
    margin-left:50px!important;
    width:300px!important;

    
}


.stats {
    background: #f2f5f8 !important;
    color: #000 !important
}

.articles {
    font-size: 10px;
    color: #a1aab9;

}

.number1 {
    font-weight: 500
}

.followers {
    font-size: 10px;
    color: #a1aab9
}

.number2 {
    font-weight: 500
}

.rating {
    font-size: 10px;
    color: #a1aab9
}

.number3 {
    font-weight: 500
}

.image {
    border-radius: 50% !important;

}

.dp {
    margin-top: 0px !important;

}
}
  

@media screen and (min-width: 300px) and (max-width:350px) {
    body {
        background-color: green !important;
    }

     .search-container
    {
        width:200px!important;
        left:100px;
    }
    
    .search-designation
    {
      
    margin-left:100px;
    top:220px;
    left:0px;
    width: 200px;
    }

    .search-department
    {
     
    margin-left:100px;
    top:160px;
    left:0px;
    width:200px;
    }
    .search-button
    {
        
   margin-left:0px;
    top:280px;
    left:170px;
    margin-bottom:100px;
    }

    .post-heading
    {
        margin-top:200px!important;
    }
    
  
}

@media screen and (min-width: 400px) and (max-width:499px) {
    body {
        background-color: red !important;
    }
}

@media screen and (min-width: 500px) and (max-width:599px) {
    body {
        background-color: orange!important;
        color: white;
    }

     .search-container
    {
        width:390px!important;
    }
    
    .search-designation
    {
      
    margin-left:100px;
    top:160px;
    left:0px;
    }

    .search-department
    {
     
    margin-left:100px;
    top:160px;
    left:160px;
    width:140px;
    }
    .search-button
    {
        
   margin-left:100px;
    top:165px;
    left:310px;
    }

    .nicecard
    {
        width:350px;
        margin-left:100px;
    }
}

@media screen and (min-width: 600px) and (max-width:699px) {
    body {
        background-color: yellow!important;
        color: white;
    }

     .search-container
    {
        width:450px!important;
    }
    
    .search-designation
    {
      
    margin-left:100px;
    top:160px;
    left:0px;
    }

    .search-department
    {
     
    margin-left:100px;
    top:160px;
    left:160px;
    }
    .search-button
    {
        
   margin-left:100px;
    top:165px;
    left:330px;
    }
}

@media screen and (min-width: 700px) and (max-width:799px) {
    body {
        background-color: green!important;
        color: white;
    }

     .search-container
    {
        width:250px!important;
    }
    
    .search-designation
    {
        left:305px;
        width:135px;
        top:98px;
    }

    .search-department
    {
        left:160px;
        width:135px;
        top:98px;
    }
    .search-button
    {
        left:450px!important;
        top:103px!important;
    }
}

@media screen and (min-width: 800px) and (max-width:899px) {
    body {
        background-color: blue!important;
    }

     .search-container
    {
        width:340px!important;
    }
    
    .search-designation
    {
        left:400px;
        width:140px;
        top:98px;
    }

    .search-department
    {
        left:250px;
        width:140px;
        top:98px;
    }
    .search-button
    {
        left:550px!important;
        top:103px!important;
    }
}

@media screen and (min-width: 900px) and (max-width: 999px) {
    body {
        background-color: indigo!important;
    }
}

@media screen and (min-width: 1000px) and (max-width:1199px){
    body {
        background-color: violet!important;
    }

    .search-container
    {
        width:400px!important;
    }
    
    .search-designation
    {
        left:490px;
    }

    .search-department
    {
        left:320px;
    }
    .search-button
    {
        left:660px!important;
        top:107px!important;
    }

}

 @media screen and (min-width: 1200px) {
    body {
        background-color:black!important;
    }

     .search-container
    {
        width:540px!important;
    }
    
    .search-designation
    {
        left:645px;
        width:170px;
        top:98px;
    }

    .search-department
    {
        left:460px;
        width:170px;
        top:98px;
    }
    .search-button
    {
        left:830px!important;
        top:103px!important;
    }
}

</style>

 <form method="POST" action="{%url 'friends' %}">
      {% csrf_token %}
          <div class="p-2 bg-light rounded rounded-pill shadow-sm search-container">
            <div class="input-group">
              <input type="search" placeholder="Search.."  class="form-control border-0 bg-light" name="name_search">
              <div class="input-group-append">
                <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
            </div>  
            </div>
         </div>
        
          <input type="text"  class="p-3 rounded rounded-pill form-control border-0 bg-light search-department" name="department_search" placeholder="Department" list="department_choices">
            <datalist id="department_choices">
                <option value=''></option>
                <option value='Admin'></option>
                <option value='Transport'></option>
                <option value='Exam'></option>
                <option value='Placements'></option>
                <option value='Library'></option>
                <option value='First Year'></option>
                <option value='CSE'></option>
                <option value='EEE'></option>
                <option value='ECE'></option>
                <option value='IT'></option>
                <option value='MECH'></option>
                <option value='CIVIL'></option>
                <option value='MBA'></option>
                <option value='MTECH'></option>
            </datalist>

        <input type="text" class="p-3 rounded rounded-pill form-control border-0 bg-light search-designation" name="designation_search" placeholder="Designation" list="designation_choices">
            <datalist id="designation_choices">
                <option value="Director"></option>
                <option value="Principal"></option>
                <option value="Dean"></option>
                <option value="HoD"></option>
                <option value="Assoc. HoD"></option>
                <option value="Prof."></option>
                <option value="Assoc. Prof."></option>
                <option value="Asst. Prof."></option>
                <option value="Lab"></option>
                <option value="Incharge"></option>
            
            </datalist>
        
         
         <input type="submit" class="btn sbutton search-button" value="Submit">
      

     
</form>
    
    
<div id="friends-header" class="post-heading">
        {% if flag == 1 %}
            <h3>Search Results:</h3>
            <a href="{%url 'friends' %}">
                <button class="suggestions-button">View Suggestions Instead</button>
            </a>
        {%elif flag == 0%}
            <h4>Do you know these people?</h4>
        {%else %}
            <h4>You have no suggestions.</h4>
        {%endif%}
    </div>    


    {% for i in l3 %}
    <div class="mt-5 d-flex justify-content-center outer nicecard">
    <div class="card1 p-3">
        <div class="d-flex align-items-center">
            <div > <img class="image" src="/media/{{i.display_picture}}/" class="rounded" width="80"> </div>
            <div class="ml-1 w-100">
                <h4 class="mb-0 mt-0" style="color: #000;">{{i.userid}}</h4> <span style="color: #000;">{{i.department}},{{i.designation}}</span>
                <div class="button mt-2 d-flex flex-row align-items-center"> 
                {%if present_user == i.userid %}    
                    <button class="btn btn-sm btn-primary w-100 ml-2" style="color:black" disabled>You</button>
                {%else%}
                    {%if present_user not in i.followers%}
            {%if i.acctype == 'Public'%}
                 <button class="btn btn-sm btn-primary w-100 ml-2" onclick = 'location.href ="/f/{{i.userid}}/"'>Follow</button>
            {%elif present_user in i.foll_req%}
                <button class="btn btn-sm btn-primary w-100 ml-2" disabled>Requested</button>
            {%else%}
         
                <button class="btn btn-sm btn-primary w-100 ml-2" onclick = 'location.href ="/frq/{{i.userid}}/"'>Request to Follow</button>   
            {%endif%}
        {%else%}
            <button class="btn btn-sm btn-primary w-100 ml-2" style="color:black" disabled>Following</button>
        {% endif %}
        {% endif %}

                    
                    <button class="btn btn-sm btn-primary w-100 ml-2" onclick = 'location.href ="/page8_profile/{{i.userid}}/"'>Visit Profile</button>
                 </div>
            </div>
        </div>
    </div>
</div>
{%endfor%}

 

 
  {%endblock content%}


